{% extends 'my_app/base.html' %}
{% load static %}
{% load template_filters %}
{% block title %}Autorization{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="apple-touch-icon" href="{% static 'iphone_icon.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <!--<link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
{% endblock %}

{% block content %}

    {% if errors %}
        <div class="alert alert-warning" role="alert">
            {% for x in errors %}
                {{ x }}
            {% endfor %}
        </div>
    {% else %}
        <div class=""
             style="padding: 15px; margin-bottom: 40px;border: 1px solid transparent;box-sizing: border-box;"></div>
    {% endif %}
    <div class="container" style="">

        <div class="col-lg-6 col-lg-offset-3" style="border: 2px solid slategray; ">
            <form method="POST">
                {% csrf_token %}
                <h3 class="title text-center text-info">Авторизация</h3>
                <div class="col-lg-12 col-lg-offset-0">
                    <div class="form-row" style="margin-bottom: 5%">
                        <input type="text" name="username" autocomplete="off" autofocus class="form-control form-group"
                               placeholder="Логин" value="{{ names_dict|get_item:"username" }}">
                        <input type="text" name="password" autocomplete="off" class="form-control form-group"
                               placeholder="Пароль" value="{{ names_dict|get_item:"password" }}">
                    </div>
                    <div class="submit-row" style="margin-bottom: 7%">
                        <button class="btn btn-default" type="submit">Войти</button>
                        <a class="btn btn-default" type="button" href="https://google.com/">Отмена</a>
                        <div class="regbuttn">
                            <a href="{% url 'registration' %}">регистрация</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static "/jscript.js" %}"></script>

{% endblock %}
{% block footer %}

{% endblock %}