{% extends 'my_app/base.html' %}
{% load static %}
{% load template_filters %}
{% block title %}Registration{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="apple-touch-icon" href="{% static 'iphone_icon.png' %}" >
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel = "icon" type = "image/png" href="{% static 'favicon.png' %}">
    <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel = "stylesheet" href ="{% static '/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if errors %}
            <div class="alert alert-warning" role="alert">
                {% for x in errors %}
                    {{ x }}
                {% endfor %}</div>
        {% else %}
            <div class="" style="padding: 15px; margin-bottom: 40px;border: 1px solid transparent;box-sizing: border-box;"> </div>
        {% endif %}
        <h3 class="title text-center text-info">Регистрация</h3>
        <div class="col-lg-8 col-lg-offset-2">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="submit-row" style="margin-bottom: 5%">
                    <button class="btn btn-default" type="submit" >Отправить</button>
                    <a class="btn btn-default" type="button" href="{% url 'AuthorizeDjango' %}">Отмена</a>
                </div>
            </form>
        </div>

    </div>
    <script src ="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src ="{% static "/jscript.js" %}"></script>

{% endblock %}
{% block footer %}

{% endblock %}
