{% extends 'my_app/base.html' %}
{% block title %} My_app {% endblock %}
{% block head %}
    {% load static %}
    {% load template_filters %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="apple-touch-icon" href="{% static 'iphone_icon.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!--<link rel = "stylesheet" href ="{ static '/bootstrap.min.css' %}">-->
{% endblock %}
{% block content %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Название сайта</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href={% url 'testpagebase' %}>Главная</a>
                    </li>
                    <li class="active">
                        <a href=#>Товары<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Найти">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right ">
                    <li><a class="btn" href= {% url 'LogoutClass' %}>Выйти</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        <ol class="breadcrumb crumbs">
            <li><a href="{% url 'testpagebase' %}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="{% url 'testpagebase' %}">Главная</a></li>
            <li class="active">Товары</li>
        </ol>
    </div>

    <!-- Должен быть список с элементами и ссылками на подробное описание-->
    <div class="container">
        <div class="col-lg-3 col-lg-offset-1">
            <ul class="list-unstyled">
                {% for pc in computers %}
                    <!--Make block for each element-->
                    <li>
                        <div class="container">
                            <div class="col-lg-8 col-lg-offset-0">
                                {% if pc.name.lower in pics.keys %}
                                    <img src="{% static pics|get_item:pc.name.lower %}" class="pcpic">
                                {% else %}
                                    <img src="{% static  '404.jpg' %}" class="pic404">
                                {% endif %}
                                <div class="pcdesc">
                                    <a href="{% url 'page' pc.id %}">{{ pc.name }}</a>
                                </div>

                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>Пустая ссылка</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <button class="circle-button" data-toggle="modal" data-target="#ModalAddItem">+</button>
            <div id="ModalAddItem" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Заголовок окна</h4>
                        </div>
                        <div class="modal-body">{{ server_times.date }}</div>
                        <div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button></div>
                    </div>
                </div>
            </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static "/jscript.js" %}"></script>
{% endblock %}

{% block footer %}

{% endblock %}
